<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="ChatBoot Facebook">
            <directory>./testes/unitario</directory>
            <directory>./testes/integracao</directory>
        </testsuite>

    </testsuites>

</phpunit>